{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'madlibs/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'madlibs:index' %}" class="navbar-brand">MAD LIBS</a>
    <div class="navbar">
        <a href="{% url 'madlibs:index' %}" class="nav-item nav-link">START OVER</a>
    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>