{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Hanging in the best city Madlib</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Yesterday my awesome {{ input_list.noun }} went to the {{ input_list.adjective }} city of {{ input_list.city }}.</p>
                <p>They took their {{ input_list.noun2 }} with them. On the way there, {{ input_list.pronoun }} called.</p>
                <p>You better come {{ input_list.verb }} and hang out with them and their {{ input_list.noun3 }}.</p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>