{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Driving Madlib</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Today I was driving around with my {{ input_list.noun }} in the passenger seat. I loved looking at the {{ input_list.adjective }} sites in {{ input_list.city }}.</p>
                <p>I saw something on the side of the road and picked it up. It was a {{ input_list.noun2 }}. Turns out it belonged to {{ input_list.pronoun }}.</p>
                <p>I wanted to keep it so I decided to {{ input_list.verb }} and try to hide so I could keep it with my {{ input_list.noun3 }}.</p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>