{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>At the Movies Madlib</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I love going to see movies with my {{ input_list.noun }}. Last time we saw the move "The {{ input_list.adjective }} mouse" in {{ input_list.city }}.</p>
                <p>I enjoy going to the movies but sometimes instead I take my {{ input_list.noun2 }} mini golfing instead. I think the mouse movei is my new favorite because it has {{ input_list.pronoun }} as the lead actor.</p>
                <p>The movie is about a mouse that {{ input_list.verb }} around with their {{ input_list.noun3 }}.</p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>