{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>In the City Madlib</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>I took my {{ input_list.noun }} to the {{ input_list.adjective }} city of {{ input_list.city }}.</p>
                <p>Last time I came here I brought my {{ input_list.noun2 }} with me. When we first got here we saw {{ input_list.pronoun }}.</p>
                <p>I enjoy coming here to {{ input_list.verb }} and playing with my {{ input_list.noun3 }}.</p>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>