body {
    padding-bottom: 5em;
}
h1 {
    padding-top: 1em;
}
h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}
h3 {
    padding-bottom: 1em;
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
.navbar>a {
    color: white;
    font-family: "Montserrate', sans-serif";
}
.navbar>a:hover {
    color: greenyellow;
}